

<mat-tab-group animationDuration="2000ms"  class="tab"  >
    <mat-tab label="PLEASE CHOOSE A PLAYER FIRST:"> 
      <h1 mat-dialog-title></h1>
      <div mat-dialog-content > 
      
        <form [formGroup]="playerForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
                <label > PLAYER:    </label> 
                       <mat-select type="number" formControlName="playerId" class="form-control" placeholder="playerId" >   
                         <mat-option *ngFor="let item of listPlayer" [value]="item.id"  >
                      {{item.shortName}}
                        </mat-option> 
                       </mat-select>
                       </div>
            
            
                       <button type="submit" class="btn btn-secondary width:10px "> submit</button>
                    </form>
       
        
       
      </div>
  
  
  
    </mat-tab>
  
    <mat-tab  label="CHOOSE A DISCOUNT CODE (CSV UPLOAD)" *ngIf="isSubmitted" class="btn btn-primary"> 
      
       
       
    
            
        <form [formGroup]="discountForm" (ngSubmit)="Submit()"  id="discount">
            <div class="form-group">
                <label > DISCOUNT CODE : </label>
                       <mat-select type="number"  formControlName="discountId" class="form-control" placeholder="discount" >
                        <mat-option *ngFor="let item of discountList" [value]="item.id"  >
                            {{item.name}}
                        </mat-option> 
                       </mat-select>
                       </div>



                       <div class="form-group">
                        <label for="file">
                            



<i class="material-icons left">cloud</i> <br> Select CSV
                        </label>
                        <input 
                            formControlName="file"
                            id="file" 
                            type="file" 
                            class="form-control"
                            (change)="onFileChange($event)">
                        
                    </div>
                 
                       <button type="submit" class="btn btn-secondary btn-block" > submit discount</button>
                       <!-- <div mat-dialog-actions>
                        <button mat-button class="btn btn-secondary btn-block" (click)="onNoClick()">Close</button>
                      </div> -->
                      
                    </form>
                  
                   
                  
    </mat-tab>
  
  
  
   
  
  
  
  
  
  
  
  

  
  </mat-tab-group>

  <div mat-dialog-actions>
    <button mat-button class="btn btn-secondary  " (click)="onNoClick()">close</button>
  </div>