
<!-- <form [formGroup]="playerForm" (ngSubmit)="onSubmit()" >
<div class="form-group">
    <label > player: </label>
           <select type="number"  formControlName="playerId" class="form-control" placeholder="playerId" >
            <option *ngFor="let item of listPlayer" [value]="item.id"  >
                {{item.shortName}}
            </option> 
           </select>
           </div>


           <button type="submit" class="btn btn-secondary btn-block"> submit</button>
        </form>



        <form [formGroup]="discountForm" (ngSubmit)="Submit()" >
            <div class="form-group">
                <label > Discount </label>
                       <select type="number"  formControlName="discountId" class="form-control" placeholder="discount" >
                        <option *ngFor="let item of discountList" [value]="item.id"  >
                            {{item.name}}
                        </option> 
                       </select>
                       </div>



                       <div class="form-group">
                        <label for="file">File</label>
                        <input 
                            formControlName="file"
                            id="file" 
                            type="file" 
                            class="form-control"
                            (change)="onFileChange($event)">
                        
                    </div>
                 
                       <button type="submit" class="btn btn-secondary btn-block" > submit discount</button>



                       
                    </form> -->

              


                    <button class="btn btn-danger btn-block"(click)="myFunction()"><span class="material-icons">upload</span>Upload</button>














                  