
.body{
    overflow: hidden;
    position:fixed;
  
min-width: 600px;
    background: black;
}

.mat-dialog-content{
    overflow: hidden;
    max-width:775px;

    
   


}

.custom-modalbox
.mat-dialog-container{
    background-color:black;
}

.container2{
    margin-top: 20px;
    border:3px solid black;
    border-radius: 20px;
    width: 200px;
    height: 180px;
}
.card1{
    width:180px;
     height:160px;
     padding:1px;
     margin: 2px;
}
#btn2{
    width:100px;
    height:100px;
}