 <mat-tab-group animationDuration="2000ms"   >
  <mat-tab label="Updating company List"> 
    <h1 mat-dialog-title></h1>
    <div mat-dialog-content accent-background> 
      <div class="card" *ngIf="companyForm" >
        <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" id="company">
     <!-- <div class="form-group">
    
            <select class="form-control" formControlName="id">
                <option *ngFor="let company of listCompany" [value]="company.id">
                    {{company.name}} 
                </option>
            </select>
              </div> -->
    
              <div class="form-group "  hidden>
                  
                
                <label >ID </label>
                <input type="text"formControlName="id" class="form-control" placeholder="name" >
          </div>
              <div class="form-group " >
                  
                
                  <label >shortname </label>
                  <input type="text"formControlName="name" class="form-control" placeholder="name" >
            </div>
                  <div class="form-group ">
                  <label > address </label>
                   <input type="text"formControlName="address" class="form-control" placeholder="address" > 
                  </div>
                 
               

                
            
                    
                    
                    
                    <button type="submit" class="btn btn-secondary btn-block"  >update</button>
                    <!-- <button class="btn btn-primary-secondary btn-block" (onclick)="closethis()"> close</button> -->
              
                    <div class="alert alert-success" *ngIf="isLoggedIn1">
                      <br>
                      Your Company Just updated  :)
                    </div>
                   
                  <div class="form-group">
                   
                  </div>    
           
                  <div mat-dialog-actions>
                    <button mat-button class="btn btn-secondary btn-block" (click)="onNoClick()">Close</button>
                  </div>
                  <br>
                  <br>
         </form>
     
         
     </div>
    </div>


 <div >
<h1>Add this company to a player?</h1>
 </div>

<div class="container2">

  <div class="card1" *ngIf="asscoiationForm" >
    <form [formGroup]="asscoiationForm" (ngSubmit)="submit()">
     <h1>choose a player </h1>
      
       <div class="form-group " >
         <mat-select  class="form-control" formControlName="playerId">
             <mat-option *ngFor="let player of listPlayer" [value]="player.id">
                 {{player.shortName}} 
             </mat-option> 
         </mat-select>
           </div>
           <button class="btn btn-secondary btn-block" type="submit">Apply</button>
      
           
          </form>
          <div *ngIf="assigned">
            <h1> the player is assigned succesfully</h1>
                       </div>
</div>
</div>

    
  </mat-tab>

 

  <mat-tab label="Discount Assign"> 



    <div class="card"  >
      <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" id="company" *ngIf="companyForm">
   <!-- <div class="form-group">
  
          <select class="form-control" formControlName="id">
              <option *ngFor="let company of listCompany" [value]="company.id">
                  {{company.name}} 
              </option>
          </select>
            </div> -->
  
            <div class="form-group "  hidden>
                
              
              <label >ID </label>
              <input type="text"formControlName="id" class="form-control" placeholder="name" >
        </div>
            <div class="form-group " >
                
              
                <label >shortname </label>
                <input type="text"formControlName="name" class="form-control" placeholder="name" >
          </div>
                <div class="form-group ">
                <label > address </label>
                 <input type="text"formControlName="address" class="form-control" placeholder="address" > 
                </div>
        
       
       </form>




       <div class="container">
    
        <button class="btn btn-secondary "  id="btn1" (click)="GetAllPlayersForOneCompany()">show the List of players of this company </button>
<br>
<br>



        <form [formGroup]="GetAllPlayersForaCompany" (ngSubmit)="getDiscount()" >
          <div class="form-group " *ngIf="selected" >
            <mat-select  class="form-control" formControlName="playerId" >
                <mat-option *ngFor="let item of GetAllPlayersForOneCompanyList" [value]="item.id">
                    {{item.shortName}} 
                </mat-option> 
            </mat-select>
            <br> <br>
              <button type="submit" class="btn btn-secondary width:10px ">select this player</button>
              </div>
            
            </form>
<br>
<br>




            
            <form [formGroup]="GetAllDiscountForaplayer" (ngSubmit)="apply()" >

              <div class="form-group " *ngIf="selected" >
                <h1>discounts</h1>
                <mat-select  class="form-control" formControlName="discountId" >
                    <mat-option *ngFor="let item of discountList" [value]="item.id">
                        {{item.name}} 
                    </mat-option> 
                </mat-select>
                  <!-- <button type="submit" class="btn btn-secondary width:10px ">select this discount</button> -->
                  </div>
                </form>


<br>
<br>


<button class="btn btn-primary" (click)="assignDtoC()" *ngIf="selected"> Assign this discount to this company </button>

        
        <!-- <mat-select *ngFor="let item of GetAllPlayersForOneCompanyList" >
           <mat-option > {{item.shortName}} </mat-option>
          </mat-select> 
          <br>
          <button *ngIf="selected" (click)="getDiscount()"> Select this player</button>
          <mat-select *ngFor="let item of discountList">
            <mat-option >
                {{item.name}} 
            </mat-option> 
        </mat-select> -->

         
 
        
    </div>
   
       
   </div>
          
        <br>
        <br>
        <br>

  
          <div mat-dialog-actions>
            <button mat-button class="btn btn-secondary btn-block" (click)="onNoClick()">Close</button>
          </div>
          <br>
          <br>
       

     





  </mat-tab> -->







<mat-tab label="Add Discount codes to company">

  <div class="card"  >
    <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" id="company" *ngIf="companyForm">
 <!-- <div class="form-group">

        <select class="form-control" formControlName="id">
            <option *ngFor="let company of listCompany" [value]="company.id">
                {{company.name}} 
            </option>
        </select>
          </div> -->

          <div class="form-group "  hidden>
              
            
            <label >ID </label>
            <input type="text"formControlName="id" class="form-control" placeholder="name" >
      </div>
          <div class="form-group " >
              
            
              <label >shortname </label>
              <input type="text"formControlName="name" class="form-control" placeholder="name" >
        </div>
              <div class="form-group ">
              <label > address </label>
               <input type="text"formControlName="address" class="form-control" placeholder="address" > 
              </div>
      
     
     </form>

    </div>
    <div class="container">
    
      <button class="btn btn-secondary "  id="btn1" (click)="GetAllPlayersForOneCompany()">show the List of players of this company </button>
<br>
<br>
<br>



      <form [formGroup]="GetAllPlayersForaCompany" (ngSubmit)="GetAllDiscountsForPlayerOfCompany()" >
        <div class="form-group " *ngIf="selected" >
          <mat-select  class="form-control" formControlName="playerId">
              <mat-option *ngFor="let item of GetAllPlayersForOneCompanyList" [value]="item.id">
                  {{item.shortName}}
              </mat-option> 
          </mat-select>
          <br>
          <br>
          

            <button type="submit" class="btn btn-secondary width:10px ">select this player</button>
            </div>
          </form>
<br>
<br>
</div>
<div class="container">
    
<form [formGroup]="GetAllDiscountCodesList" (ngSubmit)="GetAllDiscountsForPlayerOfCompany()" >
  
  <div class="form-group " *ngIf="selected" >
    <h1>
      discount codes:
    </h1>
   
    <mat-select  class="form-control" formControlName="discountId">
        <mat-option *ngFor="let item of GetAllDiscountsForPlayerOfCompanyList" [value]="item.id">
            {{item.name}}
        </mat-option> 
    </mat-select>
    <br>
    <br>
    <br>
      <button type="submit" class="btn btn-secondary width:10px ">select this discount</button>
      </div>
    </form>
</div>


<div class="container" *ngIf="selected">
  <form [formGroup]="quantity" (ngSubmit)="AssignDiscountCodesToCompanyBodyDto()" >
    <div class="form-group " *ngIf="selected" >
 <h1>
   
   how many discount?
 </h1>

 
  <input type="number"  formControlName="numberOfDiscountCodes" class="form-control" placeholder="number of discunt codes" >   


  <br>

  <h1>
   
    Price € :
  </h1>
 
 
   <input type="number"  formControlName="price" class="form-control" placeholder="price" >   
 
   
 

</div>
<button type="submit" class="btn btn-secondary width:10px ">APPLY</button>


</form>
<div *ngIf="accepted">
  <h1>
    ASSIGNED
  </h1>
  </div>
<hr>
<br>
<br>

<div class="container" >
    
  <button class="btn btn-warning btn-block"  id="btn2" (click)="Availability()"> <img src="https://img.icons8.com/external-filled-outline-02-chattapat-/64/000000/external-button-social-media-filled-outline-02-chattapat-.png"/>  Availability </button>
  
  <div class="container" *ngFor="let item of data1"> <li> {{item}} </li></div> 
  
</div>
</div>
</mat-tab>






</mat-tab-group>

  






<!-- <h1>discountList</h1>
<li *ngFor="let item of discountList">
{{item.name}}
</li>

<h1>GetAllDiscountsForPlayerOfCompanyList</h1>
<li *ngFor="let item of GetAllDiscountsForPlayerOfCompanyList">
{{item.name}}
</li> -->