.container{

    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
   margin-right: 10px;
    min-width: 450px;
min-height: 400px;
margin-bottom:10px;

}



.btn{
    margin-top: 20px;
}

.container1{
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    margin: 2px;
    min-width: 450px;
    min-height: 200px;

}


.salar{
    margin-left: 0;
    display:flex;
    padding:2px;
    margin:10px
}